# Global docker-compose defaults (copy this file to .env and adapt values)

# Databases
ACCOUNT_DB_NAME=account_db
ACCOUNT_DB_USER=account_user
ACCOUNT_DB_PASSWORD=account_pass

CATALOGUE_DB_NAME=catalogue_db
CATALOGUE_DB_USER=catalogue_user
CATALOGUE_DB_PASSWORD=catalogue_pass

ORDERS_DB_NAME=orders_db
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=orders_pass

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# JWT shared config
JWT_ISSUER=account-service
JWT_AUDIENCE=store-front-services

# Optional superuser for account-service
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# Optional mail config for message-service
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

#global defaults
DEVELOPEMENT=false
bi=0t
USE_PG=true
JWT_ALGORITHM=HS256
JWT_SIGNING_KEY=
JWT_VERIFYING_KEY=
JWT_ISSUER=account-service
JWT_AUDIENCE=store-front-services
