*.sqlite3
.env
.venv/
venv/
env/
frontend/
./services/order_service/core/__pycache__/
**/__pycache__/
**/*.py[cod]
*.so
*.egg
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
*.cpython-311.pyc
htmlcov/
**/**/**/*.cpython-311.pyc
**/**/**/__pycache__/
**/**/**/*.py[cod]
**/**/**/*.so
**/**/**/*.egg
**/**/**/*.egg-info/
**/**/**/**/*.pyc
*.pyc
.vscode/
.idea/
.DS_Store

celerybeat-schedule
*.log
