fastapi==0.141.1
uvicorn[standard]==0.52.3

# RabbitMQ
pika==1.4.4

# Celery + Redis
celery==5.4.0
redis==5.0.4

# Email (SMTP simple via Python standard lib, donc rien à ajouter ici)

# Validation & settings
pydantic>=2.9.0,<3.0.0
python-dotenv==1.0.1

# Optionnel mais recommandé
loguru==0.7.2


sqlalchemy
psycopg2-binary
alembic
pydantic-settings

aio-pika